.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 8rem;
  background-color: coral;
}

.navbar-links li {
  color: #fff;
  text-decoration: none;
}

.fab,
.fa-github {
  font-size: 5rem;
}
