* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: rgb(245, 243, 243);
  flex-direction: column;
}

.global-container {
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
